.wrap{
	margin-top: 20px;
	margin-bottom: 50px;
	box-sizing: border-box;
	border-bottom: 5px solid #000;
	.areaTop{
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.selectRate{
		float: right;
	}
	.title{
		display: inline-block;
		font-size: 0;
		.areaName{
			border-bottom: 2px solid rgba(#000, .3);
			font-size: 18px;
			font-weight: bold;
			padding: 8px 0;
		}
		.more{
			font-size: 14px;
			color: rgba(#409EFF, .8);
			margin-left: 20px;
			animation: more_ani 2s infinite;
			display: inline-block;
			cursor: pointer;
		}
	}
	.el-row, .el-col{
		height: 100%;
	}
	.content{
		margin-top: 10px;
		background-color: rgba(#409EFF, .5);
		height: 500px;
		box-sizing: border-box;
		padding: 10px;
		.recommendTitle, .topTitle{
			font-size: 16px;
		}
		.topPart{
			box-sizing: border-box;
			border-left: 1px solid rgba(#000, .5);
		}
	}
}
.cb{
	clear: both;
}
@keyframes more_ani {
	50% {
		transform: scale(1.1);
		color: #409EFF;
	}
}